body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    margin: 0;
    background-color: #454545;
}


/* the game container */
.container {
    overflow: hidden;
    flex-direction: column;
    align-self: center;
    width: 70%;
    height: 90%;
    background-color: #2e2e32;
    border-radius: 12px;
    box-shadow: 
        0 2px 3px -1px rgba(0, 0, 0, 0.2),
        0 4px 6px 0 rgba(0, 0, 0, 0.15),
        0 1px 10px 0 rgba(0, 0, 0, 0.1);  
}

/* header and footer */
.controls, .tools{
    display: flex;
    height: 10%;
}

.title{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: #f6f5f4;
    font-weight: bolder;
}
.red-title, .blue-title {
    width: 35%;
}
.red-title {
    border-bottom-left-radius: 10px;
    background-color: #a51d2d;
}
.blue-title {
    border-bottom-right-radius: 10px;
    background-color: #1c71d8;
}

/* the board */
.board {
    display: flex;
    height: 75%;
}

.letter-coords {
    height: 5%;
}

.sea {
    overflow: hidden;
    gap: 2px;
    padding: 2px;
    background: #117065;
    width: 47.5%;
    display: grid; 
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.cell {
    border: none;
    background: #1a9b8e;
    border-radius: 6px;
    box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.15),
    0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.15s ease;
}

.cell:hover {
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.2),
        0 2px 4px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
}

.cell:active {
    box-shadow: 
        0 1px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
}
.red {
    border-radius: 10px 0 0 10px;
}

.blue {
    border-radius: 0 10px 10px 0;
}
.separator {
    width: 5%;
}



/* the menu */
form {
    overflow: hidden;
    flex-direction: column;
    align-self: center;
    width: 600px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 
        0 2px 3px -1px rgba(0, 0, 0, 0.2),
        0 4px 6px 0 rgba(0, 0, 0, 0.15),
        0 1px 10px 0 rgba(0, 0, 0, 0.1);  
}


input {
    width: 50%;
    height: 10%;
    text-align: center;
    border-radius: 10px;
    color:#f6f5f4;
    border: none;
    background-color: #242424;
    box-shadow:
        0 3px 5px -1px rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

form button {
    background-color: #242424;
    color: #f6f5f4;
    border-color: #454545;
    width: 100%;
    height: 10%;
    font-size: larger;
    font-weight: 900;
    border: none;
}
form button:hover {
    background-color: #3d3c3c;
}

#names {
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
}

#red-name, #blue-name {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-color: #454545;

}
#blue-name {
    background-color: #1c71d8;
}
#red-name {
    background-color: #a51d2d;
}

.game-over {
  display: flex;
  position: fixed;
  z-index: 1;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.4);
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   background-color: rgba(10, 10, 10, 0.4);
   width: 100%;
}
.hidden {
    display: none;
}

.unClickable {
  pointer-events: none;
  cursor: default;
}



.piece {
    background-color: #7a5c3e;
}

.hit {
    background-color: #c6463d;
}

.miss {
    background-color: #4f6f8f;
}


