body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    margin: 0;
    background-color: #454545;
    background: linear-gradient(
        to left,
        #3d1419 50%,
        #0d2f4d 50%
    )
}


.container {
    overflow: hidden;
    flex-direction: column;
    align-self: center;
    width: 1000px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 
        0 2px 3px -1px rgba(0, 0, 0, 0.2),
        0 4px 6px 0 rgba(0, 0, 0, 0.15),
        0 1px 10px 0 rgba(0, 0, 0, 0.1);  
}

footer, header {
    display: flex;
    height: 10%;
}

.sea {
    display: flex;
    height: 80%;
}

.blue-sea {
    background-color: #1a9b8e;
    width: 45%;
}
.separator {
    background-color: #1d1d20;
    width: 10%;
}
.red-sea {
    background-color: #1a9b8e;
}
.red-sea, .blue-sea {
    width: 50%;
}

footer {
    background-color: #2b3137;
}
.game-title{
    width: 30%;
    background-color: #2e2e32;
}
.red-controls, .blue-controls {
    width: 35%;
}
.red-controls {
    background-color: #a51d2d;
}
.blue-controls {
    background-color: #1c71d8;
}



form {
    overflow: hidden;
    display: none;
    flex-direction: column;
    align-self: center;
    width: 450px;
    height: 350px;
    border-radius: 12px;
    box-shadow: 
        0 2px 3px -1px rgba(0, 0, 0, 0.2),
        0 4px 6px 0 rgba(0, 0, 0, 0.15),
        0 1px 10px 0 rgba(0, 0, 0, 0.1);  
}

input {
    width: 120px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    color:#f6f5f4;
    border: none;
    background-color: #242424;
    box-shadow:
        0 3px 5px -1px rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

#names {
    display: flex;
    height: 95%;
    justify-content: center;
    align-items: center;
}

#red-name, #blue-name {
    display: flex;
    width: 225px;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-color: #454545;

}
#blue-name {
    background-color: #1c71d8;
}
#red-name {
    background-color: #a51d2d;
}

form button {
    background-color: #242424;
    color: #f6f5f4;
    border-color: #454545;
    width: 100%;
    height: 50px;
    font-size: larger;
    font-weight: 900;
    border: none;
}
form button:hover {
    background-color: #3d3c3c;
}