body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    margin: 0;
    background-color: #454545;
}

.hidden {
    display: none;
}
.container {
    overflow: hidden;
    flex-direction: column;
    align-self: center;
    width: 1000px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 
        0 2px 3px -1px rgba(0, 0, 0, 0.2),
        0 4px 6px 0 rgba(0, 0, 0, 0.15),
        0 1px 10px 0 rgba(0, 0, 0, 0.1);  
}

footer, header {
    display: flex;
    height: 10%;
}

.place-ships{
    width: 30%;
    background-color: #2e2e32;
}
.red-controls, .blue-controls {
    width: 35%;
}
.red-controls {
    background-color: #a51d2d;
}
.blue-controls {
    background-color: #1c71d8;
}

.board {
    background-color: #2e2e32;
    display: flex;
    height: 80%;
}

.sea {
    overflow: hidden;
    background-color: #1a9b8e;
    width: 47.5%;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.cell {
    border: 1px solid;
    border-radius: 10px;
    background: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.red {
    border-radius: 10px 0 0 10px;
    /* top-left | top-right | bottom-right | bottom-left */
}

.blue {
    border-radius: 0 10px 10px 0;
}
.separator {
    width: 5%;
}



footer {
    background-color: #2e2e32;
}




form {
    overflow: hidden;
    flex-direction: column;
    align-self: center;
    width: 600px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 
        0 2px 3px -1px rgba(0, 0, 0, 0.2),
        0 4px 6px 0 rgba(0, 0, 0, 0.15),
        0 1px 10px 0 rgba(0, 0, 0, 0.1);  
}

input {
    width: 50%;
    height: 10%;
    text-align: center;
    border-radius: 10px;
    color:#f6f5f4;
    border: none;
    background-color: #242424;
    box-shadow:
        0 3px 5px -1px rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

form button {
    background-color: #242424;
    color: #f6f5f4;
    border-color: #454545;
    width: 100%;
    height: 10%;
    font-size: larger;
    font-weight: 900;
    border: none;
}
form button:hover {
    background-color: #3d3c3c;
}

#names {
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
}

#red-name, #blue-name {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-color: #454545;

}
#blue-name {
    background-color: #1c71d8;
}
#red-name {
    background-color: #a51d2d;
}

